{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Articles
{% endblock title %}

{% block content %}

<h3>Новости</h3>


<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start">

{% if articles %}
        <table>
            <tr>
                <td>Название</td>
                <td>Дата публикации</td>
                <td>Описание</td>
            </tr>

            {% for article in articles %}
            <tr>
                <td>
                    <a href="{% url 'article_detail' article.id %}">{{ article.name|truncatechars:100|censor }}</a> <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с самого товара -->
                    <a href="{% url 'article_update' article.id %}"><u> Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
                    <a href="{% url 'article_delete' article.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
                </td>
                <td>{{ article.publication }}</td>
                <td>{{ article.description|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
{% else %}
    <h2>Новостей нет!</h2>!
{% endif %}

<a href="{% url 'article_create' %}">Добавить новую новость</a> <br>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}

